.vertical-center {
	min-height: 80%; /* For browsers that dont support vh */
	min-height: 80vh;

	min-height: calc(80% - 64px);
	min-height: calc(80vh - 64px);

	display: flex;
	align-items: center;
	text-align: center;
}

#welcomeSection {
	background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-17768.jpg);
	background-size: cover;
}

#featureOne {
	background-color: #000;
}