#profileTitle {
	font-weight: bold; 
	margin-left: 150px;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

#banner {
	margin: 0 auto; 
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.59);
}

#userInfo {
	width: 95%;
	margin: 0 auto;
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.59);
}

@media(max-width: 769px) {
	#userPlusTrending {
		display: none;
	}
	.hideOnMobile {
		display: none;
		float: none;
	}
	#profileTitle {
		margin-left: 0px;
	}
	#banner {
		width: auto;
		box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.59);
	}
	#userInfo {
		width: auto;
		box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.59);
	}
}